
.container{
    width: 1100px;
    height: auto;
    background-color: transparent;
    margin-left: 170px;
}
.top{
    width: 100px;
    height: auto;
    background-color: transparent;
    margin-left: 450px;
}
.top>p{
    font-size: 28px;
    font-weight: bold;
    font-family: consolas;
}

.titlebar{
    height: 30px;
    width: 1000px;
    background-color: #000000;
    border: 2px solid; 
    border-color: #8B4513;
    border-radius: 10px;
}
.shellbox{
    height: 400px;
    width: 1000px;
    background-color: #000000;
    border: 2px solid; 
    border-color: #8B4513;
    border-radius: 10px;
    margin-top: 5px;
}
.shellbox_inner{
    height: 376px;
    width: 976px;
    background-color: transparent;
    border: 2px solid; 
    border-color: 1e90ff;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
}
.shellbox_inner>p{
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
    margin-left: 5px;
}
#input{
    color: #0C53D8;
    width: 100%;   
    background-color: transparent;
    border-radius: 5px;
    border: none;
    
}
.input_container{
    width: 100%;   
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid;
    border-color: #ffffff;
}

